<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewContext.RouteData.Values["action"] - BootstrapDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/regular.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BootstrapDemo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="fas fa-home"></span> 主页
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Layout" asp-action="Grid">
                                <span class="fas fa-th"></span> 栅栏
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-tv"></span> 内容
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Content" asp-action="Typography">
                                    <span class="fas fa-font"></span> 排版
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Content" asp-action="Code">
                                    <span class="fas fa-code"></span> 代码
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Content" asp-action="Table">
                                    <span class="fas fa-table"></span> 表格
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Content" asp-action="Image">
                                    <span class="fas fa-image"></span> 图片
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Content" asp-action="Figure">
                                    <span class="fas fa-images"></span> 图片区
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-vector-square"></span> 组件
                            </a>
                            <div class="dropdown-menu">
                                <div class="row mx-0" style="width:676px">
                                    <div class="col-auto px-0">
                                        <div class="dropdown-header">导航</div>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Nav">
                                            <span class="fas fa-map"></span> 导航
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="NavBar">
                                            <span class="fas fa-map-marked-alt"></span> 导航栏
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Breadcrumb">
                                            <span class="fas fa-map-marker-alt"></span> 面包屑导航
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Pagination">
                                            <span class="fas fa-dice-one"></span> 分页
                                        </a>
                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="dropdown-header">控件</div>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Badge">
                                            <span class="fas fa-certificate"></span> 徽章
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Button">
                                            <span class="fas fa-square"></span> 按钮
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="ButtonGroup">
                                            <span class="fas fa-clone"></span> 按钮组
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="InputGroup">
                                            <span class="fas fa-window-restore"></span> 输入组
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Progress">
                                            <span class="fas fa-ruler-horizontal"></span> 进度条
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Dropdown">
                                            <span class="fas fa-caret-square-down"></span> 下拉菜单
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="ListGroup">
                                            <span class="fas fa-list-alt"></span> 列表组
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="MediaObject">
                                            <span class="fas fa-th-list"></span> 媒体对象
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Spinner">
                                            <span class="fas fa-dot-circle"></span> 旋转
                                        </a>
                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="dropdown-header">容器</div>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Form">
                                            <span class="fas fa-i-cursor px-1"></span> 表单
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Modal">
                                            <span class="fas fa-minus-square"></span> 模态窗口
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Jumbotron">
                                            <span class="fas fa-chalkboard"></span> 巨幕
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Carousel">
                                            <span class="fas fa-photo-video"></span> 轮播
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Card">
                                            <span class="fas fa-tablet"></span> 卡片
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Collapse">
                                            <span class="fas fa-layer-group"></span> 折叠
                                        </a>
                                    </div>
                                    <div class="col-auto px-0">
                                        <div class="dropdown-header">提示</div>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Alert">
                                            <span class="fas fa-bell"></span> 警告窗
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Popover">
                                            <span class="fas fa-comment-alt"></span> 弹出框
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Tooltip">
                                            <span class="fas fa-comment"></span> 工具提示
                                        </a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Component" asp-action="Toast">
                                            <span class="fas fa-window-maximize"></span> 吐司
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-icons"></span> 图标
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Icon" asp-action="FontAwesome">
                                    <span class="fab fa-font-awesome-flag"></span> Font-Awesome
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-tools"></span> 工具
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="ScrollSpy">
                                    <span class="fas fa-scroll"></span> 滚动监听
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Border">
                                    <span class="fas fa-border-none"></span> 边框
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Clearfix">
                                    <span class="fas fa-flag-checkered"></span> 清除浮动
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Color">
                                    <span class="fas fa-palette"></span> 颜色
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Display">
                                    <span class="fas fa-desktop"></span> 显示
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Embed">
                                    <span class="fas fa-book-medical"></span> 嵌入
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Flex">
                                    <span class="fas fa-stream"></span> 弹性(Flex)布局
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Float">
                                    <span class="fas fa-paper-plane"></span> 浮动
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Interaction">
                                    <span class="fas fa-handshake"></span> 交互(Interaction)
                                </a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Tool" asp-action="Overflow">
                                    <span class="fas fa-border-style"></span> 溢出(Overflow)
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-5 pt-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - <a href="https://github.com/CuteLeon/BootstrapDemo" target="_blank">BootstrapDemo</a> - <a href="https://github.com/CuteLeon" target="_blank">CuteLeon</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
