<div class="container">
    <p class="display-4">边框</p>

    <h4>边框组合</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-top border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-right border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-bottom border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-left border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-0 border-danger"></div></li>
    </ul>

    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-top border-bottom border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-right border-left border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-bottom border-right border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-left border-top border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-0 border-danger"></div></li>
    </ul>

    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-bottom-0 border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-left-0 border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-right-0 border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border border-top-0 border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow border-0 border-danger"></div></li>
    </ul>
    <hr />

    <h4>不同颜色的边框</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-primary"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-secondary"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-success"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-warning"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-info"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-light"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-dark"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow-lg border border-white"></div></li>
    </ul>

    <h4>不同大小的圆角的边框</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded-0 border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded-top border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded-bottom border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded-left border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded-right border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-sm rounded-circle border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:80px;height:50px;" class="bg-light shadow rounded-sm rounded-pill border border-danger"></div></li>
    </ul>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-0 border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-top border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-bottom border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-left border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-right border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-circle border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:80px;height:50px;" class="bg-light shadow rounded-pill border border-danger"></div></li>
    </ul>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded-0 border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded-top border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded-bottom border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded-left border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded-right border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:50px;height:50px;" class="bg-light shadow rounded-lg rounded-circle border border-danger"></div></li>
        <li class="list-inline-item"><div style="width:80px;height:50px;" class="bg-light shadow rounded-lg rounded-pill border border-danger"></div></li>
    </ul>
</div>