<div class="container">
    <p class="display-4">清除浮动</p>
    <h4>清除容器内的浮动元素</h4>

    <div class="bg-danger m-5">
        <button type="button" class="btn btn-secondary float-left">左边浮动按钮</button>
        <button type="button" class="btn btn-secondary float-right">右侧浮动按钮</button>
    </div>

    <div class="bg-info clearfix m-5">
        <button type="button" class="btn btn-secondary float-left">左边浮动按钮</button>
        <button type="button" class="btn btn-secondary float-right">右侧浮动按钮</button>
    </div>
</div>