<div class="container">
    <p class="display-4">嵌入</p>
    <h5 class="text-muted">iframe会自动隐藏原有边框样式</h5>
    <h4>嵌入 iframe</h4>
    <div class="embed-responsive embed-responsive-16by9 border border-warning rounded">
        <iframe class="embed-responsive-item" src="/Home" allowfullscreen></iframe>
    </div>

    <h4>不同的纵横比</h4>
    <div class="embed-responsive embed-responsive-1by1 border border-warning rounded m-2">
        <iframe class="embed-responsive-item" src="/Home" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-4by3 border border-warning rounded m-2">
        <iframe class="embed-responsive-item" src="/Home" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9 border border-warning rounded m-2">
        <iframe class="embed-responsive-item" src="/Home" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-21by9 border border-warning rounded m-2">
        <iframe class="embed-responsive-item" src="/Home" allowfullscreen></iframe>
    </div>
</div>