<div class="container">
    <p class="display-4">浮动</p>

    <h4>浮动</h4>
    <div class="my-2 p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-left text-white">靠左浮动</div>
    </div>
    <div class="my-2 p-2 bg-warning">
        <div class="bg-danger p-2 float-none text-white text-center">不浮动</div>
    </div>
    <div class="my-2 p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-right text-white">靠右浮动</div>
    </div>
    <hr />

    <h4>响应式浮动</h4>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-left text-white">float-left 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-sm-left text-white">float-sm-left 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-md-left text-white">float-md-left 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-lg-left text-white">float-lg-left 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-xl-left text-white">float-xl-left 靠左浮动</div>
    </div>
    <div class="my-2"></div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-right text-white">float-left 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-sm-right text-white">float-sm-right 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-md-right text-white">float-md-right 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-lg-right text-white">float-lg-right 靠左浮动</div>
    </div>
    <div class="p-2 bg-warning clearfix">
        <div class="bg-danger p-2 float-xl-right text-white">float-xl-right 靠左浮动</div>
    </div>
</div>