<div class="container">
    <p class="display-4">交互(Interaction)</p>
    
    <h4>文本选择</h4>
    <p class="font-weight-bold user-select-all text-center">用户自动全选文本</p>
    <p class="font-weight-bold user-select-none text-center">用户无法选择文本</p>
    <p class="font-weight-bold user-select-auto text-center">用户默认选择文本</p>
</div>