<div class="container">
    <p class="display-4">溢出</p>
    <h4>溢出</h4>
    <div class="d-flex justify-content-around p-2">
        <div class="m-3 overflow-auto rounded-lg border border-primary" style="width:20rem; height:4rem;">
            overflow-auto 自动为区域增加滚动条<br>
            以显示区域内的所有内容<br>
            溢出的文本内容<br>
            溢出的文本内容<br>
            溢出的文本内容<br>
            溢出的文本内容
        </div>
        <div class="m-3 overflow-hidden rounded-lg border border-primary" style="width:20rem; height:4rem;">
            overflow-hidden 隐藏溢出区域的内容<br>
            溢出的文本内容<br>
            溢出的文本内容<br>
            溢出的文本内容<br>
            溢出的文本内容<br>
            溢出的文本内容
        </div>
    </div>
</div>