<div class="container">
    <p class="display-4">阴影</p>

    <h4>不同大小的阴影</h4>
    <div class="m-5 text-center p-5 border shadow-none rounded-pill" style="height:10rem">无阴影</div>
    <div class="m-5 text-center p-5 border shadow-sm rounded-pill" style="height:10rem">小阴影</div>
    <div class="m-5 text-center p-5 border shadow rounded-pill" style="height:10rem">中阴影</div>
    <div class="m-5 text-center p-5 border shadow-lg rounded-pill" style="height:10rem">大阴影</div>
</div>