<div class="container">
    <p class="display-4">垂直对齐</p>

    <h4>垂直对齐</h4>
    <table class="bg-light text-center w-100" style="height: 20rem;">
        <tbody>
            <tr>
                <td class="text-white bg-primary align-baseline">align-baseline</td>
                <td class="text-white bg-warning align-top">align-top</td>
                <td class="text-white bg-danger align-middle">align-middle</td>
                <td class="text-white bg-info align-bottom">align-bottom</td>
                <td class="text-white bg-success align-text-top">align-text-top</td>
                <td class="text-white bg-secondary align-text-bottom">align-text-bottom</td>
            </tr>
        </tbody>
    </table>
</div>
