<div class="container">
    <p class="可见性"></p>
    <h5 class="text-muted">可见性工具不会改变元素的display样式，因此被隐藏的元素仍然占用页面的空间并影响着布局</h5>

    <h4>可见性</h4>

    <div class="h4 visible">其实我旁边有个被隐藏的元素，它依然影响着布局</div>
    <div class="h4 invisible">显示着的元素就不用我介绍了</div>
    <button class="btn btn-primary">按钮</button>
</div>