@{ Layout = "DevlopLayout"; }

<!-- 桌面 -->
<div class="container-fluid p-0 position-fixed flex-wrap" style="overflow: hidden; height: 100%; width: 100%;
    background-image: url(image/Carousel-3.jpg); background-size: cover; background-position-y:center; background-position-x: center;">

    <div class="fixed-top">
        <!-- 顶部栏 -->
        <div class="container-fluid justify-content-between d-inline-flex p-0 shadow-sm user-select-none" style="height: 30px; backdrop-filter: blur(15px) opacity(0.8);">
            <!-- 菜单栏 -->
            <nav class="navbar navbar-expand p-0 navbar-dark">
                <div class="navbar-brand p-0 ml-2">
                    <img class="img-fluid" src="~/image/LogoImageSmall.png" />
                    <span>Hack System</span>
                </div>

                <ul class="navbar-nav text-nowrap">
                    <li class="nav-item active">
                        <a role="button" class="nav-link">文件</a>
                    </li>
                    <li class="nav-item active">
                        <a role="button" class="nav-link">编辑</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown">视图</a>
                        <div class="dropdown-menu">
                            <a role="button" class="dropdown-item">顶部栏</a>
                            <a role="button" class="dropdown-item">菜单栏</a>
                            <a role="button" class="dropdown-item">状态栏</a>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="dropdown-item">图标容器</a>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="dropdown-item">程序坞</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a role="button" class="nav-link disabled">调试</a>
                    </li>
                    <li class="nav-item active">
                        <a role="button" class="nav-link text-warning">测试</a>
                    </li>
                </ul>
            </nav>

            <form class="d-none d-md-block form-inline mx-2 align-self-center">
                <input class="form-control bg-transparent small text-white" style="height:24px;" type="search" placeholder="搜索..." aria-label="Search">
            </form>

            <!-- 状态栏 -->
            <div class="rounded-pill bg-light text-dark d-flex border px-2">
                <div class="text-nowrap align-self-center">
                    <p class="mb-0 fas fa-user-astronaut text-primary" data-container="body" data-toggle="tooltip" data-placement="bottom" title="用户信息"></p>
                    <span class="border-left mx-1"></span>
                    <p class="mb-0 fas fa-wifi" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Wifi: 开启"></p>
                    <p class="mb-0 fas fa-battery-full" data-container="body" data-toggle="tooltip" data-placement="bottom" title="电量: 100%"></p>
                    <p class="mb-0 fas fa-charging-station" data-container="body" data-toggle="tooltip" data-placement="bottom" title="电量: 100%"></p>
                    <p class="mb-0 fas fa-bell" data-container="body" data-toggle="tooltip" data-placement="bottom" title="声音: 开启"></p>
                    <p class="mb-0 fas fa-volume-up" data-container="body" data-toggle="tooltip" data-placement="bottom" title="声音: 开启"></p>
                    <p class="mb-0 fas fa-adjust" data-container="body" data-toggle="tooltip" data-placement="bottom" title="主题: 自动"></p>
                    <p class="mb-0 fab fa-usb" data-container="body" data-toggle="tooltip" data-placement="bottom" title="USB: 已连接"></p>
                    <p class="mb-0 fas fa-broadcast-tower" data-container="body" data-toggle="tooltip" data-placement="bottom" title="热点: 开启"></p>
                    <p class="mb-0 fas fa-camera" data-container="body" data-toggle="tooltip" data-placement="bottom" title="屏幕截图"></p>
                    <p class="mb-0 fas fa-cloud-sun-rain" data-container="body" data-toggle="tooltip" data-placement="bottom" title="实时天气"></p>
                    <span class="border-left mx-1"></span>
                    <p class="mb-0 fas fa-lock" data-container="body" data-toggle="tooltip" data-placement="bottom" title="锁定系统"></p>
                    <p class="mb-0 fas fa-cog" data-container="body" data-toggle="tooltip" data-placement="bottom" title="系统设置"></p>
                    <p class="mb-0 fas fa-calendar-alt text-nowrap" data-container="body" data-toggle="tooltip" data-placement="bottom" title="日期： @DateTime.Now.ToString()"> @DateTime.Now.ToString("HH:mm")</p>
                    <span class="border-left mx-1"></span>
                    <p class="mb-0 fas fa-power-off text-danger" data-container="body" data-toggle="tooltip" data-placement="bottom" title="退出系统"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- 主体区域 -->
    <div class="w-100 h-100" style="padding-top:30px; overflow:hidden;pointer-events:none;">
        <!-- 图标容器 -->
        <div class="d-flex flex-column flex-wrap align-content-start user-select-none" style="height:100%;pointer-events:none;overflow:hidden;">
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
        </div>

        <!-- 信息面板 -->
        <div class="rounded-lg border border-white position-fixed" style="top:4rem; right:3rem; pointer-events:none; backdrop-filter:blur(10px);">
            <p class="display-1 text-white p-3 mb-0">信息面板</p>
        </div>
    </div>

    <!-- 程序坞 -->
    <div class="d-none d-md-flex justify-content-center fixed-bottom mb-1 mb-md-3" style="pointer-events:none;">
        <div class="border-bottom border-white px-5 rounded-pill shadow" style="pointer-events: auto; backdrop-filter: blur(10px);">
            <div class="d-flex justify-content-center user-select-none">
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var dockEvents = {
            mouseOverIcon: function (e) {
                $(e).prev().animate({
                    width: '100px',
                    height: '100px',
                    margin: '-25px 0 0 0',
                }, 150);
            },
            mouseOutIcon: function (e) {
                $(e).prev().animate({
                    width: '75px',
                    height: '75px',
                    margin: '0px 0 0 0',
                }, 150);
            },
            mouseDownIcon: function (e) {
                $(e).prev().animate({
                    opacity: 1,
                    margin: '-50px 0 0 0',
                }, 150);
            },
            mouseUpIcon: function (e) {
                $(e).prev().animate({
                    opacity: 1,
                    margin: '-25px 0 0 0',
                }, 150);
            }
        };
        var drawerEvents = {
            mouseOverIcon: function (e) {
                let icon = $(e).parent().parent();
                let focused = icon.is(':focus');
                if (focused) return;

                icon.addClass('shadow');
                icon.css('background', 'rgba(255, 255, 255, 0.2)');
                icon.css('backdrop-filter', 'blur(5px)');
            },
            mouseOutIcon: function (e) {
                let icon = $(e).parent().parent();
                let focused = icon.is(':focus');
                if (focused) return;

                icon.removeClass('shadow');
                icon.css('background', 'rgba(255, 255, 255, 0)');
                icon.css('backdrop-filter', '');
            },
            mouseDownIcon: function (e) {
                let icon = $(e).parent().parent();
                icon.css('background', 'rgba(255, 255, 255, 0.5)');
            },
            mouseUpIcon: function (e) {
                let icon = $(e).parent().parent();
                icon.css('background', 'rgba(255, 255, 255, 0.2)');
            },
            focusIcon: function (e) {
                let icon = $(e);
                icon.css('background', 'rgba(255, 255, 255, 0.2)');
                icon.css('backdrop-filter', 'blur(5px)');
            },
            blurIcon: function (e) {
                let icon = $(e);
                icon.css('background', 'rgba(255, 255, 255, 0)');
                icon.css('backdrop-filter', '');
            }
        };
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}
