@{ Layout = "DevlopLayout"; }

<!-- 桌面 -->
<div class="container-fluid p-0 position-fixed flex-wrap" style="overflow: hidden; height: 100%; width: 100%;
    background-image: url(image/Carousel-3.jpg); background-size: cover; background-position-y:center; background-position-x: center;">

    <div class="fixed-top">
        <!-- 顶部栏 -->
        <div class="container-fluid justify-content-between d-inline-flex p-0 shadow-sm user-select-none" style="height: 30px; backdrop-filter: blur(15px) opacity(0.8);">
            <!-- 菜单栏 -->
            <nav class="navbar navbar-expand p-0 navbar-dark">
                <div class="navbar-brand p-0 ml-2">
                    <img class="img-fluid" src="~/image/LogoImageSmall.png" />
                    <span>Hack System</span>
                </div>
                <ul class="navbar-nav text-nowrap">
                    <li class="nav-item active">
                        <a role="button" class="nav-link">主页</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>文件</a>
                        <div class="dropdown-menu">
                            <a role="button" class="dropdown-item">新文件</a>
                            <a role="button" class="dropdown-item">打开文件</a>
                            <a role="button" class="dropdown-item">保存文件</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown dropright dropdown-submenu">
                                <a role="button" class="dropdown-item dropdown-toggle">最近的文件</a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" checked id="recentFile1Radio">
                                            <label class="custom-control-label" for="recentFile1Radio">最近的文件_1</label>
                                        </div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" checked id="recentFile2Radio">
                                            <label class="custom-control-label" for="recentFile2Radio">最近的文件_2</label>
                                        </div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" id="recentFile3Radio">
                                            <label class="custom-control-label" for="recentFile3Radio">最近的文件_3</label>
                                        </div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" id="recentFile4Radio">
                                            <label class="custom-control-label" for="recentFile4Radio">最近的文件_4</label>
                                        </div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="RecentFilesGroup" disabled id="recentFile5Radio">
                                            <label class="custom-control-label" for="recentFile5Radio">最近的文件_5</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="dropdown-item">关闭文件</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>编辑</a>
                        <div class="dropdown-menu">
                            <a role="button" class="dropdown-item">剪切</a>
                            <a role="button" class="dropdown-item">复制</a>
                            <a role="button" class="dropdown-item">粘贴</a>
                            <a role="button" class="dropdown-item">删除</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown dropright dropdown-submenu">
                                <a role="button" class="dropdown-item dropdown-toggle">选择</a>
                                <div class="dropdown-menu">
                                    <a role="button" class="dropdown-item">全选</a>
                                    <a role="button" class="dropdown-item">全不选</a>
                                    <a role="button" class="dropdown-item">反选</a>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="dropdown-item">查找</a>
                            <a role="button" class="dropdown-item">替换</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-submenu>视图</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked id="topBarCheck">
                                    <label class="custom-control-label" for="topBarCheck">顶部栏</label>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="menuBarCheck">
                                    <label class="custom-control-label" for="menuBarCheck">菜单栏</label>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="statusBarCheck">
                                    <label class="custom-control-label" for="statusBarCheck">状态栏</label>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" disabled checked id="programDockCheck">
                                    <label class="custom-control-label" for="programDockCheck">程序坞</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-none">
                        <a role="button" class="nav-link">已隐藏</a>
                    </li>
                    <li class="nav-item">
                        <a role="button" class="nav-link disabled">已禁用</a>
                    </li>
                    <li class="nav-item active">
                        <a role="button" class="nav-link text-warning">测试</a>
                    </li>
                    <li class="nav-item">
                        <div class="custom-control custom-checkbox nav-link pl-4">
                            <input type="checkbox" class="custom-control-input" id="desktopCheckBox_1">
                            <label class="custom-control-label" for="desktopCheckBox_1">复选-1</label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="custom-control custom-checkbox nav-link pl-4">
                            <input type="checkbox" class="custom-control-input" checked id="desktopCheckBox_2">
                            <label class="custom-control-label" for="desktopCheckBox_2">复选-2</label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="custom-control custom-checkbox nav-link pl-4">
                            <input type="checkbox" class="custom-control-input" disabled id="desktopCheckBox_3">
                            <label class="custom-control-label" for="desktopCheckBox_3">复选-3</label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="custom-control custom-radio nav-link pl-4">
                            <input type="radio" class="custom-control-input" name="DesktopRadioGroup" id="desktopRadio_1">
                            <label class="custom-control-label" for="desktopRadio_1">单选-1</label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="custom-control custom-radio nav-link pl-4">
                            <input type="radio" class="custom-control-input" checked name="DesktopRadioGroup" id="desktopRadio_2">
                            <label class="custom-control-label" for="desktopRadio_2">单选-2</label>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="custom-control custom-radio nav-link pl-4">
                            <input type="radio" class="custom-control-input" disabled name="DesktopRadioGroup" id="desktopRadio_3">
                            <label class="custom-control-label" for="desktopRadio_3">单选-3</label>
                        </div>
                    </li>
                </ul>
            </nav>

            <form class="d-none d-md-block form-inline mx-2 align-self-center">
                <input class="form-control bg-transparent small text-white" style="height:24px;" type="search" placeholder="搜索..." aria-label="Search">
            </form>

            <!-- 状态栏 -->
            <div class="rounded-pill bg-light text-dark d-flex border px-2">
                <div class="text-nowrap align-self-center">
                    <p class="mb-0 fas fa-user-astronaut text-primary" data-container="body" data-toggle="tooltip" data-placement="bottom" title="用户信息">
                        <span class="px-1">Leon</span>
                    </p>
                    <a class="fas fa-sign-in-alt text-info text-decoration-none" href="/Register" data-container="body" data-toggle="tooltip" data-placement="bottom" title="注册"><span class="px-1 font-weight-normal">注册</span></a>
                    <a class="fas fa-sign-in-alt text-success text-decoration-none" href="/Login" data-container="body" data-toggle="tooltip" data-placement="bottom" title="登录"><span class="px-1 font-weight-normal">登录</span></a>
                    <a class="fas fa-sign-out-alt text-danger text-decoration-none" href="/logout" data-container="body" data-toggle="tooltip" data-placement="bottom" title="注销"></a>
                    <span class="border-left mx-1"></span>
                    <p class="mb-0 fas fa-wifi" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Wifi: 开启"></p>
                    <p class="mb-0 fas fa-battery-full" data-container="body" data-toggle="tooltip" data-placement="bottom" title="电量: 100%"></p>
                    <p class="mb-0 fas fa-charging-station" data-container="body" data-toggle="tooltip" data-placement="bottom" title="电量: 100%"></p>
                    <p class="mb-0 fas fa-bell" data-container="body" data-toggle="tooltip" data-placement="bottom" title="声音: 开启"></p>
                    <p class="mb-0 fas fa-volume-up" data-container="body" data-toggle="tooltip" data-placement="bottom" title="声音: 开启"></p>
                    <p class="mb-0 fas fa-adjust" data-container="body" data-toggle="tooltip" data-placement="bottom" title="主题: 自动"></p>
                    <p class="mb-0 fab fa-usb" data-container="body" data-toggle="tooltip" data-placement="bottom" title="USB: 已连接"></p>
                    <p class="mb-0 fas fa-broadcast-tower" data-container="body" data-toggle="tooltip" data-placement="bottom" title="热点: 开启"></p>
                    <p class="mb-0 fas fa-camera" data-container="body" data-toggle="tooltip" data-placement="bottom" title="屏幕截图"></p>
                    <p class="mb-0 fas fa-cloud-sun-rain" data-container="body" data-toggle="tooltip" data-placement="bottom" title="实时天气"></p>
                    <span class="border-left mx-1"></span>
                    <p class="mb-0 fas fa-lock" data-container="body" data-toggle="tooltip" data-placement="bottom" title="锁定系统"></p>
                    <p class="mb-0 fas fa-cog" data-container="body" data-toggle="tooltip" data-placement="bottom" title="系统设置"></p>
                    <p class="mb-0 fas fa-calendar-alt text-nowrap" data-container="body" data-toggle="tooltip" data-placement="bottom" title="日期： @DateTime.Now.ToString()"> @DateTime.Now.ToString("HH:mm")</p>
                    <span class="border-left mx-1"></span>
                    <p class="mb-0 fas fa-power-off text-danger" data-container="body" data-toggle="tooltip" data-placement="bottom" title="退出系统"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- 主体区域 -->
    <div class="w-100 h-100" style="padding-top:30px; overflow:hidden;pointer-events:none;">
        <!-- 图标容器 -->
        <div class="d-flex flex-column flex-wrap align-content-start user-select-none" style="height:100%;pointer-events:none;overflow:hidden;">
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
        </div>

        <!-- 信息面板 -->
        <div class="rounded-lg border border-white position-fixed" style="top:4rem; right:3rem; pointer-events:none; backdrop-filter:blur(10px);">
            <p class="display-1 text-white p-3 mb-0">信息面板</p>
        </div>
    </div>

    <!-- 程序层 -->
    <div class="position-fixed w-100 h-100 user-select-none" style="top:0px;padding-top:30px; overflow:hidden;pointer-events:none;">
        <!-- 模态窗口 -->
        <div class="modal-dialog m-0 w-100 position-fixed dragtarget shadow" role="dialog" style="left:3rem;top:3rem;">
            <div class="modal-content bg-transparent">
                <div class="modal-header draggable" style="backdrop-filter:blur(20px);">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <div class="row">
                        <div class="col-auto">
                            <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                        </div>
                        <div class="col">
                            模态窗口内容，点击背景自动关闭模态窗口。<br />
                            模态窗口内容，点击背景自动关闭模态窗口。<br />
                            模态窗口内容，点击背景自动关闭模态窗口。
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="backdrop-filter:blur(20px);">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
        <!-- 模态窗口 -->
        <div class="modal-dialog m-0 position-fixed w-100 dragtarget shadow" role="dialog" style="left:20rem;top:15rem;">
            <div class="modal-content">
                <div class="modal-header draggable">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                        </div>
                        <div class="col">
                            模态窗口内容，点击背景自动关闭模态窗口。<br />
                            模态窗口内容，点击背景自动关闭模态窗口。<br />
                            模态窗口内容，点击背景自动关闭模态窗口。
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
        <!-- 模态窗口 -->
        <div class="modal-dialog m-0 w-100 position-fixed dragtarget shadow" role="dialog" style="left:40rem;top:30rem;">
            <div class="modal-content bg-transparent" style="backdrop-filter:blur(20px);">
                <div class="modal-header draggable">
                    <h5 class="modal-title" id="exampleModalLabel">标题</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <i class="fas fa-4x fa-info-circle text-primary m-2"></i>
                        </div>
                        <div class="col">
                            模态窗口内容，点击背景自动关闭模态窗口。<br />
                            模态窗口内容，点击背景自动关闭模态窗口。<br />
                            模态窗口内容，点击背景自动关闭模态窗口。
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 程序坞 -->
    <div class="d-none d-md-flex justify-content-center fixed-bottom mb-1 mb-md-3" style="pointer-events:none;">
        <div class="border-bottom border-white px-5 rounded-pill shadow" style="pointer-events: auto; backdrop-filter: blur(10px);">
            <div class="d-flex justify-content-center user-select-none">
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var dockEvents = {
            mouseOverIcon: function (e) {
                $(e).prev().animate({
                    width: '100px',
                    height: '100px',
                    margin: '-25px 0 0 0',
                }, 150);
            },
            mouseOutIcon: function (e) {
                $(e).prev().animate({
                    width: '75px',
                    height: '75px',
                    margin: '0px 0 0 0',
                }, 150);
            },
            mouseDownIcon: function (e) {
                $(e).prev().animate({
                    opacity: 1,
                    margin: '-50px 0 0 0',
                }, 150);
            },
            mouseUpIcon: function (e) {
                $(e).prev().animate({
                    opacity: 1,
                    margin: '-25px 0 0 0',
                }, 150);
            }
        };
        var drawerEvents = {
            mouseOverIcon: function (e) {
                let icon = $(e).parent().parent();
                let focused = icon.is(':focus');
                if (focused) return;

                icon.addClass('shadow');
                icon.css('background', 'rgba(255, 255, 255, 0.2)');
                icon.css('backdrop-filter', 'blur(5px)');
            },
            mouseOutIcon: function (e) {
                let icon = $(e).parent().parent();
                let focused = icon.is(':focus');
                if (focused) return;

                icon.removeClass('shadow');
                icon.css('background', 'rgba(255, 255, 255, 0)');
                icon.css('backdrop-filter', '');
            },
            mouseDownIcon: function (e) {
                let icon = $(e).parent().parent();
                icon.css('background', 'rgba(255, 255, 255, 0.5)');
            },
            mouseUpIcon: function (e) {
                let icon = $(e).parent().parent();
                icon.css('background', 'rgba(255, 255, 255, 0.2)');
            },
            focusIcon: function (e) {
                let icon = $(e);
                icon.css('background', 'rgba(255, 255, 255, 0.2)');
                icon.css('backdrop-filter', 'blur(5px)');
            },
            blurIcon: function (e) {
                let icon = $(e);
                icon.css('background', 'rgba(255, 255, 255, 0)');
                icon.css('backdrop-filter', '');
            }
        };
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-submenu]').submenupicker();

        let dragData;
        let dragTarget;
        $('.draggable').on('mousedown', (e) => {
            if (e.button === 0) {
                dragTarget = $(e.delegateTarget).parents('.dragtarget')[0];
                if (dragTarget === undefined || dragTarget === null) return;

                let currentPosition = { X: $(dragTarget).offset().left, Y: $(dragTarget).offset().top };
                dragData = {
                    diffX: e.clientX - currentPosition.X,
                    diffY: e.clientY - currentPosition.Y,
                };

                $(document).on('mousemove', this.onDragMouseMove);
                $(e.delegateTarget).one('mouseup', this.onDragMouseUp);
            }
            else {
                dragData = null;
                dragTarget = null;
            }
        });

        var onDragMouseMove = function (e) {
            if (e.button === 0) {
                if (dragTarget !== undefined &&
                    dragTarget !== null) {
                    if (0 <= e.clientX && e.clientX <= document.documentElement.clientWidth)
                        $(dragTarget).css('left', e.clientX - dragData.diffX);
                    if (0 <= e.clientY && e.clientY <= document.documentElement.clientHeight)
                        $(dragTarget).css('top', e.clientY - dragData.diffY);
                }
            } else {
                this.onDragMouseUp(e);
            }
        };
        var onDragMouseUp = function (e) {
            dragData = null;
            dragTarget = null;
            $(document).off('mousemove', this.onDragMouseMove);
        };
    </script>
}
