@{ Layout = "DevlopLayout"; }

<!-- 桌面 -->
<div class="container-fluid p-0 position-fixed flex-wrap" style="overflow: hidden; height: 100%; width: 100%;
    background-image: url(image/Carousel-2.jpg); background-size: cover; background-position-y:center; background-position-x: center;">
    <div class="fixed-top">
        <!-- 顶部栏 -->
        <div class="container-fluid bg-light" style="height:30px">
            <UserStateComponent />
            <button class="btn btn-warning btn-sm">测试按钮</button>
        </div>
    </div>

    <!-- 主体区域 -->
    <div class="w-100 h-100" style="padding-top:30px; overflow:hidden;pointer-events:none;">
        <!-- 图标容器 -->
        <div class="d-flex flex-column flex-wrap align-content-start user-select-none" style="height:100%;pointer-events:none;overflow:hidden;">
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
            <div class="m-2 rounded position-relative" tabindex="1" onfocus="drawerEvents.focusIcon(this)" onblur="drawerEvents.blurIcon(this)">
                <figure class="mb-0">
                    <img src="/image/Icon.png" class="img-fluid m-1" style="width:60px;height:60px;" />
                    <figcaption class="text-white small text-center stretched-link" style="text-shadow: 0px 0px 3px #000, 0px 1px 3px #000, 0px 1px 5px #222;"
                                onmouseover="drawerEvents.mouseOverIcon(this)" onmouseout="drawerEvents.mouseOutIcon(this)" onmousedown="drawerEvents.mouseDownIcon(this)" onmouseup="drawerEvents.mouseUpIcon(this)">
                        <span class="d-block text-truncate" style="width:70px;">程序名称</span>
                    </figcaption>
                </figure>
            </div>
        </div>

        <!-- 信息面板 -->
        <div class="rounded-lg border border-white position-fixed" style="top:4rem; right:3rem; pointer-events:none; backdrop-filter:blur(10px);">
            <p class="display-1 text-white p-3 mb-0">信息面板</p>
        </div>
    </div>

    <!-- 程序坞 -->
    <div class="d-none d-md-flex justify-content-center fixed-bottom mb-1 mb-md-3" style="pointer-events:none;">
        <div class="border-bottom border-white px-5 rounded-pill shadow" style="pointer-events: auto; backdrop-filter: blur(10px);">
            <div class="d-flex justify-content-center user-select-none">
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="mt-n5 px-3 position-relative">
                    <figure>
                        <img src="/image/Icon.png" class="img-fluid" style="width:75px;height:75px;" />
                        <figcaption class="text-white font-weight-bold text-center stretched-link" style="text-shadow: 0px 0px 5px #000, 0px 2px 5px #000, 0px 0px 10px #000;"
                                    onmouseover="dockEvents.mouseOverIcon(this)" onmouseout="dockEvents.mouseOutIcon(this)" onmousedown="dockEvents.mouseDownIcon(this)" onmouseup="dockEvents.mouseUpIcon(this)">
                            <span class="d-block mx-auto text-truncate" style="width:75px;">程序名称</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
