@{
    HashSet<string> SolidIcons = null, RegularIcons = null, BrandIcons = null;
    if (this.ViewData.TryGetValue("FAS", out object solidIcons))
        SolidIcons = solidIcons as HashSet<string>;
    if (this.ViewData.TryGetValue("FAR", out object regularIcons))
        RegularIcons = regularIcons as HashSet<string>;
    if (this.ViewData.TryGetValue("FAB", out object brandIcons))
        BrandIcons = brandIcons as HashSet<string>;
}

<div class="container">
    <p class="display-4">Font-Awesome</p>
    @if (SolidIcons != null)
    {
        var title = "fas";
        <p class="display-4">@title</p>
        <div class="row row-cols-6 text-center">
            @foreach (var icon in SolidIcons)
            {
                <div class="col">
                    <figure class="figure m-3">
                        <p class="@title fa-5x fa-@icon figure-img"></p>
                        <figcaption class="figure-caption text-dark">@title fa-@icon</figcaption>
                    </figure>
                </div>
            }
        </div>
        <hr />
    }
    @if (RegularIcons != null)
    {
        var title = "far";
        <p class="display-4">@title</p>
        <div class="row row-cols-6 text-center">
            @foreach (var icon in RegularIcons)
            {
                <div class="col">
                    <figure class="figure m-3">
                        <p class="@title fa-5x fa-@icon figure-img"></p>
                        <figcaption class="figure-caption text-dark">@title fa-@icon</figcaption>
                    </figure>
                </div>
            }
        </div>
        <hr />
    }
    @if (BrandIcons != null)
    {
        var title = "fab";
        <p class="display-4">@title</p>
        <div class="row row-cols-6text-center">
            @foreach (var icon in BrandIcons)
            {
                <div class="col">
                    <figure class="figure m-3">
                        <p class="@title fa-5x fa-@icon figure-img"></p>
                        <figcaption class="figure-caption text-dark">@title fa-@icon</figcaption>
                    </figure>
                </div>
            }
        </div>
        <hr />
    }
</div>