<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <a class="display-4 d-block" href="https://getbootstrap.com/docs/4.5/utilities/flex/" target="_blank">Click TODO</a>
    <a class="btn btn-lg btn-primary" href="https://github.com/CuteLeon/BootstrapDemo" target="_blank">Goto GitHub</a>
</div>