<div class="container">
    <div class="row">
        <div class="col-auto d-block mx-auto">
            <figure class="figure">
                <img src="~/image/Dream.jpg" class="figure-img img-fluid rounded" alt="图片区">
                <figcaption class="figure-caption">Pain Past is Pleasure.</figcaption>
            </figure>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-auto d-block mx-auto">
            <figure class="figure">
                <img src="~/image/Dream.jpg" class="figure-img img-fluid rounded" alt="图片区">
                <figcaption class="figure-caption text-center">Pain Past is Pleasure.</figcaption>
            </figure>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-auto d-block mx-auto">
            <figure class="figure">
                <img src="~/image/Dream.jpg" class="figure-img img-fluid rounded" alt="图片区">
                <figcaption class="figure-caption text-right">Pain Past is Pleasure.</figcaption>
            </figure>
        </div>
    </div>
</div>