<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
        <div class="col">
            <img src="~/image/Dream.jpg" class="img-fluid" alt="响应式图片" />
        </div>
        <div class="col">
            <img src="~/image/Dream.jpg" class="img-fluid border border-primary rounded shadow" alt="响应式图片" />
        </div>
        <div class="col">
            <img src="~/image/Dream.jpg" class="img-fluid rounded-circle border border-danger shadow-lg" alt="响应式图片" />
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
        <div class="col">
            <img src="~/image/Dream.jpg" class="img-thumbnail shadow" alt="缩略图片" />
        </div>
        <div class="col">
            <img src="~/image/Dream.jpg" class="img-thumbnail rounded-circle shadow" alt="缩略图片" />
        </div>
        <div class="col">
            <img src="~/image/Dream.jpg" class="img-thumbnail border-warning shadow" alt="缩略图片" />
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <img src="~/image/Dream.jpg" class="img rounded-circle border border-dark shadow float-md-left float-sm-none" alt="缩略图片" />
        </div>
        <div class="col">
            <img src="~/image/Dream.jpg" class="img rounded-circle border border-dark shadow float-md-right float-sm-none" alt="缩略图片" />
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            @* d-block 打断行，mx-auto 自动调整外部水平边距以居中，二者配合使用 *@
            <img src="~/image/Dream.jpg" class="img-thumbnail d-block mx-auto rounded-circle shadow-lg" alt="缩略图片" />
        </div>
    </div>
    <hr />
</div>