<div class="container">
    <p class="display-4">排版</p>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
        <div class="col">
            <h1>h1. Bootstrap 标题</h1>
            <h2>h2. Bootstrap 标题</h2>
            <h3>h3. Bootstrap 标题</h3>
            <h4>h4. Bootstrap 标题</h4>
            <h5>h5. Bootstrap 标题</h5>
            <h6>h6. Bootstrap 标题</h6>
        </div>
        <div class="col">
            <p class="h1">带有 h1 类的 P 标签</p>
            <p class="h2">带有 h2 类的 P 标签</p>
            <p class="h3">带有 h3 类的 P 标签</p>
            <p class="h4">带有 h4 类的 P 标签</p>
            <p class="h5">带有 h5 类的 P 标签</p>
            <p class="h6">带有 h6 类的 P 标签</p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <h3>
                花式显示标题
                <small class="text-muted">褪色的次要文字</small>
            </h3>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
        <div class="col">
            <p class="display-1">P Display-1</p>
            <p class="display-2">P Display-2</p>
            <p class="display-3">P Display-3</p>
            <p class="display-4">P Display-4</p>
        </div>
        <div class="col">
            <h1 class="display-1">Display 1</h1>
            <h1 class="display-2">Display 2</h1>
            <h1 class="display-3">Display 3</h1>
            <h1 class="display-4">Display 4</h1>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
        <div class="col">
            <p class="lead">通过加上"Lead"使段落突出。</p>
        </div>
        <div class="col">
            <p>没有加上"Lead"的段落</p>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
        <div class="col">
            <p>可以使用标记<mark>高亮显示</mark>文本。</p>
            <p><small>这一行文字是要当作细部印刷品处理的。</small></p>
            <p><s>这行文字被认为不再准确。</s></p>
            <p><strong>此行呈现为粗体文本。</strong></p>
            <p><u>这行文本将呈现为下划线</u></p>
            <p><em>此行呈现为斜体文本。</em></p>
        </div>
        <div class="col">
            <p class="mark">可以使用标记高亮显示文本。</p>
            <p class="small">这一行文字是要当作细部印刷品处理的。</p>
            <p><del>这行文本将被视为已删除的文本。</del></p>
            <b>此行呈现为粗体文本。</b>
            <p><ins>这一行文本被视为对文档的补充。</ins></p>
            <i>此行呈现为斜体文本。</i>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
        <div class="col">
            <p>本句包含一个<abbr title="缩略词的完整内容">缩略词</abbr>，悬停以显示完整内容</p>
        </div>
        <div class="col">
            <p>本句包含一个<abbr title="缩略词的完整内容" class="initialism">缩略词</abbr>，initialism 类以缩小显示</p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <blockquote class="blockquote">
                <p class="mb-0">包含起来的文本块作为引用。mb-0 用于清除外部下方的边距。</p>
                <footer class="text-right blockquote-footer">footer 表明引用源<cite title="这里是引用源的名称">cite 表示引用源的名称</cite></footer>
            </blockquote>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <blockquote class="blockquote text-center">
                <p class="mb-0">包含起来的文本块作为引用。mb-0 用于清除外部下方的边距。</p>
                <footer class="blockquote-footer">footer 表明引用源<cite title="这里是引用源的名称">cite 表示引用源的名称</cite></footer>
            </blockquote>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <blockquote class="blockquote text-sm-left text-md-left text-lg-center text-xl-center">
                <p class="mb-0">包含起来的文本块作为引用。使用 text-*-(left|center|right) 控制响应式文本布局方向。</p>
                <footer class="blockquote-footer text-sm-left text-md-right text-lg-right text-xl-center">footer 表明引用源<cite title="这里是引用源的名称">cite 表示引用源的名称</cite></footer>
            </blockquote>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
        <div class="col">
            <ul>
                <li>Item of list</li>
                <li>Item of list</li>
                <li>
                    Child list
                    <ul>
                        <li>Item of child list</li>
                        <li>Item of child list</li>
                        <li>Item of child list</li>
                    </ul>
                </li>
                <li>Item of list</li>
                <li>Item of list</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li>Item of list unstyled</li>
                <li>Item of list unstyled</li>
                <li>
                    Child list unstyled
                    <ul class="list-unstyled">
                        <li>Item of child list unstyled</li>
                        <li>Item of child list unstyled</li>
                        <li>Item of child list unstyled</li>
                    </ul>
                </li>
                <li>Item of list unstyled</li>
                <li>Item of list unstyled</li>
            </ul>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <li class="list-inline-item">Item of list in-line</li>
                <li class="list-inline-item">Item of list in-line</li>
                <li class="list-inline-item">
                    Child list
                    <ul class="list-inline-item list-inline">
                        <li class="list-inline-item">Item of child list in-line</li>
                        <li class="list-inline-item">Item of child list in-line</li>
                    </ul>
                </li>
                <li class="list-inline-item">Item of list in-line</li>
                <li class="list-inline-item">Item of list in-line</li>
            </ul>
        </div>
    </div>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">描述列表</dt>
        <dd class="col-sm-9">描述列表非常适合定义术语。</dd>

        <dt class="col-sm-3">Cute Leon</dt>
        <dd class="col-sm-9">
            <p class="mb-1">此 Demo 项目的作者。mb-* 控制p标签的外部下方边距。</p>
            <p>此 Demo 项目的拥有者。</p>
        </dd>

        <dt class="col-sm-3">Bootstrap</dt>
        <dd class="col-sm-9">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit.</dd>

        <dt class="col-sm-3 text-truncate">text-truncate Term</dt>
        <dd class="col-sm-9">您可以选择添加一个 .text-truncate 类来用省略号截断文本。</dd>

        <dt class="col-sm-3">外层术语</dt>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">内层术语-A</dt>
                <dd class="col-sm-8">术语列表可以嵌套。</dd>
                <dt class="col-sm-4">内层术语-B</dt>
                <dd class="col-sm-8">术语列表可以嵌套。</dd>
                <dt class="col-sm-4">内层术语-C</dt>
                <dd class="col-sm-8">术语列表可以嵌套。</dd>
            </dl>
        </dd>
    </dl>
    <hr />
</div>
