<div class="container">
    <div class="alert alert-primary" role="alert">
        一个 primary 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-secondary" role="alert">
        一个 secondary 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-success" role="alert">
        一个 success 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-danger" role="alert">
        一个 danger 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-warning" role="alert">
        一个 warning 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-info" role="alert">
        一个 info 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-light" role="alert">
        一个 light 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <div class="alert alert-dark" role="alert">
        一个 dark 外观的警告窗，附带 <a class="alert-link">链接</a>。
    </div>
    <hr />

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">任务完成！</h4>
        <p>哦，是的，你成功地阅读了这个重要的警告信息。此示例文本将运行更长一点，以便您可以看到警报内的间距如何处理此类内容。</p>
        <hr>
        <p class="mb-0">无论何时需要，一定要使用margin实用程序来保持事物的整洁。</p>
    </div>
    <hr />

    @*
        关闭警告窗会将其从 DOM 中删除
        fade 和 show 用于在删除警告窗之前淡出消失
    *@
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>警告!</strong> 点击右边的按钮关闭警告窗
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>警告!</strong> 点击右边的按钮关闭警告窗
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>警告!</strong> 点击右边的按钮关闭警告窗
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>警告!</strong> 点击右边的按钮关闭警告窗
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

@section Scripts{
}