<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">主页</li>
        </ol>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">主页</a></li>
            <li class="breadcrumb-item active" aria-current="page">组件</li>
        </ol>
    </nav>

    <nav aria-label="breadcrumb" draggable="true">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/">主页</a></li>
            <li class="breadcrumb-item"><a href="~/Component">组件</a></li>
            <li class="breadcrumb-item active" aria-current="page">面包屑导航</li>
        </ol>
    </nav>
</div>
