<div class="container">
    <p class="display-4">按钮</p>
    <h4>默认样式的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-secondary">Secondary</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-success">Success</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-danger">Danger</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-warning">Warning</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-info">Info</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-light">Light</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-dark">Dark</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-link">Link</button></li>
    </ul>
    <hr />

    <h4>圆形样式的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-secondary">Secondary</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-success">Success</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-danger">Danger</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-warning">Warning</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-info">Info</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-light">Light</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-dark">Dark</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-link">Link</button></li>
    </ul>
    <hr />

    <h4> a button input(Input Submit Reset) 标签的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><a class="btn btn-primary" href="#" role="button">Link</a></li>
        <li class="list-inline-item"><button class="btn btn-primary" type="submit">Button</button></li>
        <li class="list-inline-item"><input class="btn btn-primary" type="button" value="Input"></li>
        <li class="list-inline-item"><input class="btn btn-primary" type="submit" value="Submit"></li>
        <li class="list-inline-item"><input class="btn btn-primary" type="reset" value="Reset"></li>
    </ul>
    <hr />

    <h4>镂空样式的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-secondary">Secondary</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-success">Success</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-danger">Danger</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-warning">Warning</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-info">Info</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-light">Light</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-dark">Dark</button></li>
    </ul>
    <hr />

    <h4>圆形镂空样式的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-secondary">Secondary</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-success">Success</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-danger">Danger</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-warning">Warning</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-info">Info</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-light">Light</button></li>
        <li class="list-inline-item"><button type="button" class="btn rounded-pill my-1 btn-outline-dark">Dark</button></li>
    </ul>
    <hr />

    <h4>不同大小的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-primary btn-lg">Primary btn-lg</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-primary btn-lg">Primary btn-lg</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-primary btn-sm">Primary btn-sm</button></li>
        <li class="list-inline-item"><button type="button" class="btn my-1 btn-outline-primary btn-sm">Primary btn-sm</button></li>
    </ul>
    <hr />

    <h4>填充样式的按钮</h4>
    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-danger btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-dark btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-info btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-light btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-warning btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-dark btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-info btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-success btn-lg btn-block">Block level button</button>
    <button type="button" class="btn btn-outline-warning btn-lg btn-block">Block level button</button>
    <hr />

    <h4>激活样式的按钮</h4>
    <button type="button" class="btn active btn-primary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-danger btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-dark btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-info btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-light btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-secondary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-success btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-warning btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-primary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-danger btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-dark btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-info btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-light btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-secondary btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-success btn-lg btn-block">Block level button</button>
    <button type="button" class="btn active btn-outline-warning btn-lg btn-block">Block level button</button>
    <hr />

    <h4>禁用样式的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" disabled class="btn my-1 btn-primary btn-lg">Primary btn-lg</button></li>
        <li class="list-inline-item"><button type="button" disabled class="btn my-1 btn-outline-primary btn-lg">Primary btn-lg</button></li>
        <li class="list-inline-item"><button type="button" disabled class="btn my-1 btn-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" disabled class="btn my-1 btn-outline-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" disabled class="btn my-1 btn-primary btn-sm">Primary btn-sm</button></li>
        <li class="list-inline-item"><button type="button" disabled class="btn my-1 btn-outline-primary btn-sm">Primary btn-sm</button></li>
    </ul>
    <hr />

    <h4>禁用样式的a标签按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><a href="#" role="button" aria-disabled="true" class="btn my-1 disabled btn-primary btn-lg">Primary btn-lg</a></li>
        <li class="list-inline-item"><a href="#" role="button" aria-disabled="true" class="btn my-1 disabled btn-outline-primary btn-lg">Primary btn-lg</a></li>
        <li class="list-inline-item"><a href="#" role="button" aria-disabled="true" class="btn my-1 disabled btn-primary">Primary</a></li>
        <li class="list-inline-item"><a href="#" role="button" aria-disabled="true" class="btn my-1 disabled btn-outline-primary">Primary</a></li>
        <li class="list-inline-item"><a href="#" role="button" aria-disabled="true" class="btn my-1 disabled btn-primary btn-sm">Primary btn-sm</a></li>
        <li class="list-inline-item"><a href="#" role="button" aria-disabled="true" class="btn my-1 disabled btn-outline-primary btn-sm">Primary btn-sm</a></li>
    </ul>
    <hr />

    <h4>可以自动切换激活状态的按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button type="button" data-toggle="button" class="btn my-1 btn-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" data-toggle="button" class="btn my-1 btn-outline-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" data-toggle="button" class="btn my-1 btn-primary" aria-pressed="true">Primary</button></li>
        <li class="list-inline-item"><button type="button" data-toggle="button" class="btn my-1 btn-outline-primary" aria-pressed="true">Primary</button></li>
        <li class="list-inline-item"><button type="button" data-toggle="button" class="btn my-1 btn-primary">Primary</button></li>
        <li class="list-inline-item"><button type="button" data-toggle="button" class="btn my-1 btn-outline-primary">Primary</button></li>
    </ul>
</div>