<div class="container">
    <p class="display-1">Card</p>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
        <div class="col my-2">
            <div class="card border border-white shadow-lg">
                <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <hr />
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card border border-white mt-5 shadow-lg">
                <img src="/image/Dream.jpg" class="card-img-top img-thumbnail rounded-circle mt-n5" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <hr />
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <a href="#" class="btn btn-primary">一个按钮</a>
                    <a href="#" class="btn btn-link">一个链接</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card border border-white shadow-lg">
                <div class="card-body">
                    <h5 class="card-title text-center">卡片标题</h5>
                    <hr />
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <div class="row px-3 justify-content-between">
                        <a href="#" class="col-auto btn btn-primary">一个按钮</a>
                        <a href="#" class="col-auto btn btn-link">一个链接</a>
                    </div>
                </div>
                <img src="/image/Dream.jpg" class="card-img-bottom" alt="Card Image">
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
        <div class="col my-2">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">卡片·标题</h5>
                    <h6 class="card-subtitle mb-2 text-muted">卡片·子标题</h6>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <a href="#" class="card-link float-right">卡片链接</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">卡片·标题</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-right">卡片·子标题</h6>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <a href="#" class="card-link">卡片链接</a>
                    <a href="#" class="card-link">另一链接</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">卡片·标题</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-right">卡片·子标题</h6>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <div class="row px-3 justify-content-between">
                        <a href="#" class="col-auto card-link">卡片链接</a>
                        <a href="#" class="col-auto card-link">另一链接</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
        <div class="col my-2">
            <div class="card border border-white shadow-lg">
                <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card border border-white shadow-lg">
                <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <a href="#" class="btn btn-link float-right">一个链接</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card border border-white shadow-lg">
                <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                    <hr />
                    <div class="row px-3 justify-content-between">
                        <a href="#" class="col-auto btn btn-primary">一个按钮</a>
                        <a href="#" class="col-auto btn btn-link">一个链接</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
        <div class="col my-2">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本。</p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">列表项-1</li>
                    <li class="list-group-item">列表项-2</li>
                </ul>
                <div class="card-body">
                    <div class="row px-3 my-n1 justify-content-between">
                        <a href="#" class="col-auto btn btn-primary">一个按钮</a>
                        <a href="#" class="col-auto btn btn-link">一个链接</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card shadow">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">列表项-1</li>
                    <li class="list-group-item">
                        列表项-2
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">子列表项-2.1</li>
                            <li class="list-group-item">
                                列表项-2.2
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">子列表项-2.2.1</li>
                                </ul>
                            </li>
                            <li class="list-group-item">子列表项-2.3</li>
                        </ul>
                    </li>
                    <li class="list-group-item">列表项-3</li>
                    <li class="list-group-item">列表项-4</li>
                    <li class="list-group-item">列表项-5</li>
                    <li class="list-group-item">列表项-6</li>
                </ul>
            </div>
        </div>
        <div class="col my-2">
            <div class="card shadow">
                <div class="card-header">
                    头部标题
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">列表项-1</li>
                    <li class="list-group-item">
                        列表项-2
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">子列表项-2.1</li>
                            <li class="list-group-item">
                                列表项-2.2
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">子列表项-2.2.1</li>
                                </ul>
                            </li>
                            <li class="list-group-item">子列表项-2.3</li>
                        </ul>
                    </li>
                    <li class="list-group-item">列表项-3</li>
                    <li class="list-group-item">列表项-4</li>
                    <li class="list-group-item">列表项-5</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
        <div class="col my-2">
            <div class="card">
                <div class="card-header">
                    重要标题
                </div>
                <div class="card-body">
                    <h5 class="card-title">特殊标题</h5>
                    <p class="card-text">下面的辅助文本作为附加内容的自然引子。</p>
                    <a href="#" class="btn btn-primary">按钮</a>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="card-header">
                    引用
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>如果他在受苦，他会被认为是在帮助他。他以前也能做到。</p>
                        <footer class="blockquote-footer text-right">引用自<cite title="Source Title">源标题</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-center">
                <div class="card-header">
                    重要标题
                </div>
                <div class="card-body">
                    <h5 class="card-title">特殊标题</h5>
                    <p class="card-text">下面的辅助文本作为附加内容的自然引子。</p>
                    <a href="#" class="btn btn-primary w-50">按钮</a>
                </div>
                <div class="card-footer text-muted">
                    发布于两天前
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">特殊标题</h5>
                    <p class="card-text">卡片内容文本。</p>
                    <a class="btn btn-primary">按钮</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">特殊标题</h5>
                    <p class="card-text">卡片内容文本。</p>
                    <a class="btn btn-primary">按钮</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12 my-2 col-lg-4">
            <div class="card bg-danger">
                <img src="/image/LeonMathilda.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 my-2 col-lg-8">
            <div class="card bg-danger">
                <img src="/image/Mathilda.jpg" class="card-img" alt="...">
                <div class="card-img-overlay text-warning">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
        <div class="col my-2">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/image/MathildaLeon.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body h-100 align-content-end">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/image/MathildaLeon.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
        <div class="col my-2">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card bg-warning mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card bg-light mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
        <div class="col my-2">
            <div class="card text-primary border border-primary mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-secondary border border-secondary mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-success border border-success mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-danger border border-danger mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-warning border border-warning mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-info border border-info mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card border border-light mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-dark border border-dark mb-3">
                <div class="card-header">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 row-cols-xl-4">
        <div class="col my-2">
            <div class="card text-primary border border-primary mb-3">
                <div class="card-header border-primary">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-primary">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-secondary border border-secondary mb-3">
                <div class="card-header border-secondary">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-secondary">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-success border border-success mb-3">
                <div class="card-header border-success">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-success">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-danger border border-danger mb-3">
                <div class="card-header border-danger">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-danger">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-warning border border-warning mb-3">
                <div class="card-header border-warning">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-warning">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-info border border-info mb-3">
                <div class="card-header border-info">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-info">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card border border-light mb-3">
                <div class="card-header border-light">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-light">底部</div>
            </div>
        </div>
        <div class="col my-2">
            <div class="card text-dark border border-dark mb-3">
                <div class="card-header border-dark">顶部</div>
                <div class="card-body">
                    <h5 class="card-title">标题</h5>
                    <p class="card-text">卡片描述信息。</p>
                </div>
                <div class="card-footer border-dark">底部</div>
            </div>
        </div>
    </div>
    <hr />

    <div class="card-group shadow-lg">
        <div class="card">
            <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card">
            <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card">
            <img src="/image/MathildaLeon.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
    </div>
    <hr />

    <div class="card-deck">
        <div class="card shadow-lg">
            <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/MathildaLeon.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
    </div>
    <hr />

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4">
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card shadow">
                <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">卡片标题</h5>
                    <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                </div>
                <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
        </div>
    </div>
    <hr />

    <div class="card-columns">
        <div class="card shadow-lg">
            <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/MathildaLeon.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/LeonMathilda.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/Dream.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
        <div class="card shadow-lg">
            <img src="/image/MathildaLeon.jpg" class="card-img-top" alt="Card Image">
            <div class="card-body">
                <h5 class="card-title">卡片标题</h5>
                <hr />
                <p class="card-text">卡片的内容文本，可以在这里自由描述卡片的详细信息。</p>
                <a href="#" class="btn btn-primary btn-block shadow">一个按钮</a>
            </div>
            <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
        </div>
    </div>
</div>