<div class="container">
    <div class="jumbotron">
        <p class="display-4">巨幕</p>
        <p class="lead">这是一个简单的英雄单元，是一个简单的巨幕风格的组件，用于引起对特色内容或信息的额外关注。</p>
        <hr class="my-4">
        <p>它使用用于排版和间距的实用程序类在较大的容器中分隔内容。</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a>
    </div>
    <hr />
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid 巨幕</h1>
        <p class="lead">这是一个修改过的巨幕，它占据了其父对象的整个水平空间。</p>
    </div>
</div>