<div class="container">
    <p class="display-4">列表组</p>
    <div class="row row-cols-2 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-4">
        <div class="col my-2">
            <h4>被激活和禁用的列表组</h4>
            <ul class="list-group">
                <li class="list-group-item">列表项-1</li>
                <li class="list-group-item active">列表项-2</li>
                <li class="list-group-item">列表项-3</li>
                <li class="list-group-item disabled">列表项-4</li>
                <li class="list-group-item">列表项-5</li>
                <li class="list-group-item">列表项-6</li>
                <li class="list-group-item">列表项-7</li>
            </ul>
        </div>
        <div class="col my-2">
            <h4>嵌套的列表组</h4>
            <ul class="list-group">
                <li class="list-group-item">列表项-1</li>
                <li class="list-group-item">
                    列表项-2
                    <ul class="list-group">
                        <li class="list-group-item">子列表项-2.1</li>
                        <li class="list-group-item">
                            列表项-2.2
                            <ul class="list-group">
                                <li class="list-group-item">子列表项-2.2.1</li>
                            </ul>
                        </li>
                        <li class="list-group-item">子列表项-2.3</li>
                    </ul>
                </li>
                <li class="list-group-item">列表项-3</li>
            </ul>
        </div>
        <div class="col my-2">
            <h4>可以操作的列表组</h4>
            <div class="list-group">
                <button class="list-group-item list-group-item-action">列表项-1</button>
                <button class="list-group-item list-group-item-action active">列表项-2</button>
                <button class="list-group-item list-group-item-action">列表项-3</button>
                <button class="list-group-item list-group-item-action disabled">列表项-4</button>
                <button class="list-group-item list-group-item-action">列表项-5</button>
                <button class="list-group-item list-group-item-action">列表项-6</button>
                <button class="list-group-item list-group-item-action">列表项-7</button>
            </div>
        </div>

        <div class="col-1 my-2">
            <h4>去除列表组的边框</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">列表项-1</li>
                <li class="list-group-item">
                    列表项-2
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">子列表项-2.1</li>
                        <li class="list-group-item">
                            列表项-2.2
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">子列表项-2.2.1</li>
                            </ul>
                        </li>
                        <li class="list-group-item">子列表项-2.3</li>
                    </ul>
                </li>
                <li class="list-group-item">列表项-3</li>
            </ul>
        </div>
    </div>
    <hr />

    <h4>横排列表组</h4>
    <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item">列表项-1</li>
        <li class="list-group-item">列表项-2</li>
        <li class="list-group-item">列表项-3</li>
        <li class="list-group-item">列表项-4</li>
        <li class="list-group-item">列表项-5</li>
        <li class="list-group-item">列表项-6</li>
    </ul>
    <hr />

    <h4>带有背景色列表组</h4>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
        <div class="col my-2">
            <ul class="list-group">
                <li class="list-group-item">背景色列表组</li>
                <li class="list-group-item list-group-item-primary">列表组项-1</li>
                <li class="list-group-item list-group-item-secondary">列表组项-2</li>
                <li class="list-group-item list-group-item-success">列表组项-3</li>
                <li class="list-group-item list-group-item-danger">列表组项-4</li>
                <li class="list-group-item list-group-item-warning">列表组项-5</li>
                <li class="list-group-item list-group-item-info">列表组项-6</li>
                <li class="list-group-item list-group-item-light">列表组项-7</li>
                <li class="list-group-item list-group-item-dark">列表组项-8</li>
            </ul>
        </div>
        <div class="col my-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">列表组项-1</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">列表组项-2</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">列表组项-3</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">列表组项-4</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">列表组项-5</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">列表组项-6</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">列表组项-7</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">列表组项-8</a>
            </div>
        </div>
        <div class="col my-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">列表组标题-1</h5>
                        <small>三天前</small>
                    </div>
                    <p class="mb-1">列表项详细描述信息。</p>
                    <small>补充信息</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">列表组标题-2</h5>
                        <small class="text-muted">三天前</small>
                    </div>
                    <p class="mb-1">列表项详细描述信息。</p>
                    <small>补充信息</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">列表组标题-3</h5>
                        <small class="text-muted">三天前</small>
                    </div>
                    <p class="mb-1">列表项详细描述信息。</p>
                    <small>补充信息</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">列表组标题-3</h5>
                        <small class="text-muted">三天前</small>
                    </div>
                    <p class="mb-1">列表项详细描述信息。</p>
                    <small>补充信息</small>
                </a>
            </div>
        </div>
    </div>
    <hr />

    <h4>列表组切换内容</h4>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content h-100 rounded border border-danger" id="nav-tabContent">
                <div class="tab-pane fade display-4 text-center show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">列表组内容-1</div>
                <div class="tab-pane fade display-4 text-center" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">列表组内容-2</div>
                <div class="tab-pane fade display-4 text-center" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">列表组内容-3</div>
                <div class="tab-pane fade display-4 text-center" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">列表组内容-4</div>
            </div>
        </div>
    </div>
</div>