<div class="container">
    <p class="display-4">媒体对象</p>
    <h4>媒体对象</h4>
    <div class="media bg-light my-3">
        <img src="/image/MathildaLeon.jpg" class="mr-3">
        <div class="media-body">
            <h5 class="mt-0">媒体对象标题</h5>
            媒体类型描述
        </div>
    </div>
    <div class="media border border-secondary bg-light my-3">
        <img src="/image/LeonMathilda.jpg" class="mr-3">
        <div class="media-body">
            <h5 class="mt-0">媒体对象标题</h5>
            媒体类型描述
        </div>
    </div>
    <div class="media bg-light my-3">
        <img src="/image/Dream.jpg" class="rounded-left mr-3">
        <div class="media-body">
            <h5 class="mt-0">媒体对象标题</h5>
            媒体类型描述
        </div>
    </div>
    <hr />

    <h4>嵌套媒体对象</h4>
    <div class="media bg-light my-3">
        <img src="/image/Dream.jpg" class="rounded-left mr-3">
        <div class="media-body">
            <h5 class="mt-0">媒体对象标题</h5>
            媒体类型描述
            <div class="media">
                <img src="/image/LeonMathilda.jpg" class="mr-3">
                <div class="media-body">
                    <h5 class="mt-0">媒体对象标题</h5>
                    媒体类型描述
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h4>对齐媒体对象</h4>
    <div class="media bg-light my-3">
        <img src="/image/LeonMathilda.jpg" class="align-self-center mr-3">
        <div class="media-body">
            <h5 class="mt-0">媒体对象标题</h5>
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述
        </div>
    </div>
    <div class="media bg-light my-3">
        <div class="media-body text-right">
            <h5 class="mt-0">媒体对象标题</h5>
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述<br />
            媒体类型描述
        </div>
        <img src="/image/LeonMathilda.jpg" class="align-self-end ml-3">
    </div>
    <hr />

    <h4>媒体对象列表</h4>
    <ul class="list-unstyled">
        <li class="media w-100 bg-light my-3">
            <img src="/image/LeonMathilda.jpg" class="mr-3">
            <div class="media-body">
                <h5 class="mt-0">媒体对象标题</h5>
                媒体类型描述
            </div>
        </li>
        <li class="media w-100 bg-light my-3">
            <img src="/image/LeonMathilda.jpg" class="mr-3">
            <div class="media-body">
                <h5 class="mt-0">媒体对象标题</h5>
                媒体类型描述
            </div>
        </li>
        <li class="media w-100 bg-light my-3">
            <img src="/image/LeonMathilda.jpg" class="mr-3">
            <div class="media-body">
                <h5 class="mt-0">媒体对象标题</h5>
                媒体类型描述
            </div>
        </li>
    </ul>
</div>