<div class="container">
    <p class="display-4">导航</p>
    <h4>基础导航组件本身并不会记录激活状态</h4>
    <ul class="nav bg-light rounded-pill">
        <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
    </ul>
    <hr />

    <h4>水平居中布局导航组件</h4>
    <ul class="nav bg-light rounded-pill justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>水平居右布局导航组件</h4>
    <ul class="nav bg-light rounded-pill justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>水平居左布局导航组件</h4>
    <ul class="nav bg-light rounded-pill justify-content-start">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>垂直布局导航组件</h4>
    <div class="row row-cols-2 justify-content-around">
        <div class="col-auto">
            <ul class="nav flex-column bg-light rounded justify-content-start">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="col-auto">
            <nav class="nav flex-column bg-light rounded">
                <a class="nav-link active" href="#">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </nav>
        </div>
    </div>
    <hr />

    <h4>选项卡样式的导航组件</h4>
    <ul class="nav nav-tabs rounded justify-content-start">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>药片样式的导航组件</h4>
    <ul class="nav nav-pills rounded justify-content-start">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>占满宽度的导航组件，但所有导航项宽度并非一致</h4>
    <ul class="nav nav-pills nav-fill bg-light rounded">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>占满宽度的导航组件，所有导航项宽度一致</h4>
    <ul class="nav nav-pills nav-justified bg-light rounded">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>响应式的导航组件</h4>
    <ul class="nav nav-pills bg-light rounded flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>带下拉框的导航组件</h4>
    <ul class="nav nav-pills bg-light rounded">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <hr />

    <h4>可切换的Tab页导航组件，不使用列表标签</h4>
    <div class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="home-tab" data-toggle="tab" href="#homeTab_Id" role="tab" aria-controls="homeTabId" aria-selected="true">Home</a>
        <a class="nav-item nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profileTab_Id" role="tab" aria-controls="profileTabId" aria-selected="false">Profile</a>
        <a class="nav-item nav-link text-warning" id="contact-tab" data-toggle="tab" href="#contactTab_Id" role="tab" aria-controls="contactTabId" aria-selected="false">Contact</a>
    </div>
    <div class="tab-content border border-top-0 p-3" id="myTabContent">
        <div class="tab-pane fade show active" id="homeTab_Id" role="tabpanel" aria-labelledby="home-tab">
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。
        </div>
        <div class="tab-pane fade" id="profileTab_Id" role="tabpanel" aria-labelledby="profile-tab">
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。
        </div>
        <div class="tab-pane fade" id="contactTab_Id" role="tabpanel" aria-labelledby="contact-tab">
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。
        </div>
    </div>
    <hr />

    <h4>可切换的Tab页导航组件，去除淡出淡入切换效果</h4>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#homeTabId" role="tab" aria-controls="homeTabId" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profileTabId" role="tab" aria-controls="profileTabId" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-warning" id="contact-tab" data-toggle="tab" href="#contactTabId" role="tab" aria-controls="contactTabId" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content border border-top-0 p-3" id="myTabContent">
        <div class="tab-pane show active" id="homeTabId" role="tabpanel" aria-labelledby="home-tab">
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。
        </div>
        <div class="tab-pane" id="profileTabId" role="tabpanel" aria-labelledby="profile-tab">
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。
        </div>
        <div class="tab-pane" id="contactTabId" role="tabpanel" aria-labelledby="contact-tab">
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。
        </div>
    </div>
    <hr />

    <h4>可切换的药片Tab导航组件</h4>
    <div class="nav nav-pills" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="home-tab" data-toggle="tab" href="#home_TabId" role="tab" aria-controls="homeTabId" aria-selected="true">Home</a>
        <a class="nav-item nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profile_TabId" role="tab" aria-controls="profileTabId" aria-selected="false">Profile</a>
        <a class="nav-item nav-link text-warning" id="contact-tab" data-toggle="tab" href="#contact_TabId" role="tab" aria-controls="contactTabId" aria-selected="false">Contact</a>
    </div>
    <div class="tab-content p-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home_TabId" role="tabpanel" aria-labelledby="home-tab">
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。<br />
            选项卡-1 的内容文本。
        </div>
        <div class="tab-pane fade" id="profile_TabId" role="tabpanel" aria-labelledby="profile-tab">
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。<br />
            选项卡-2 的内容文本。
        </div>
        <div class="tab-pane fade" id="contact_TabId" role="tabpanel" aria-labelledby="contact-tab">
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。<br />
            选项卡-3 的内容文本。
        </div>
    </div>
    <hr />

    <h4>垂直响应式可切换的药片Tab导航组件</h4>
    <div class="row">
        <div class="col-sm-auto col-12 text-right">
            <div class="nav flex-sm-column nav-pills" id="myTab" role="tablist">
                <a class="nav-item nav-link px-5 active" id="home-tab" data-toggle="tab" href="#homeTabId_" role="tab" aria-controls="homeTabId" aria-selected="true">Home</a>
                <a class="nav-item nav-link px-5 text-danger" id="profile-tab" data-toggle="tab" href="#profileTabId_" role="tab" aria-controls="profileTabId" aria-selected="false">Profile</a>
                <a class="nav-item nav-link px-5 text-warning" id="contact-tab" data-toggle="tab" href="#contactTabId_" role="tab" aria-controls="contactTabId" aria-selected="false">Contact</a>
            </div>
        </div>
        <div class="col">
            <div class="tab-content p-3" id="myTabContent">
                <div class="tab-pane show active" id="homeTabId_" role="tabpanel" aria-labelledby="home-tab">
                    选项卡-1 的内容文本。<br />
                    选项卡-1 的内容文本。<br />
                    选项卡-1 的内容文本。<br />
                    选项卡-1 的内容文本。
                </div>
                <div class="tab-pane" id="profileTabId_" role="tabpanel" aria-labelledby="profile-tab">
                    选项卡-2 的内容文本。<br />
                    选项卡-2 的内容文本。<br />
                    选项卡-2 的内容文本。<br />
                    选项卡-2 的内容文本。
                </div>
                <div class="tab-pane" id="contactTabId_" role="tabpanel" aria-labelledby="contact-tab">
                    选项卡-3 的内容文本。<br />
                    选项卡-3 的内容文本。<br />
                    选项卡-3 的内容文本。<br />
                    选项卡-3 的内容文本。
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>