<div class="container">
    <p class="display-4">旋转</p>
    <h4>标准 Spinner-Border</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div class="spinner-border text-primary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-secondary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-success" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-danger" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-warning" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-info" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-light" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border text-dark" role="status"></div></li>
    </ul>
    <hr />

    <h4>小型 Spinner-Border</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-primary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-secondary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-success" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-danger" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-warning" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-info" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-light" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-border spinner-border-sm text-dark" role="status"></div></li>
    </ul>
    <hr />

    <h4>标准 Spinner-Grow</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div class="spinner-grow text-primary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-secondary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-success" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-danger" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-warning" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-info" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-light" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow text-dark" role="status"></div></li>
    </ul>
    <hr />

    <h4>小型 Spinner-Grow</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-primary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-secondary" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-success" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-danger" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-warning" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-info" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-light" role="status"></div></li>
        <li class="list-inline-item"><div class="spinner-grow spinner-grow-sm text-dark" role="status"></div></li>
    </ul>
    <hr />

    <h4>自定义大小 Spinner-Border</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-primary" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-secondary" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-success" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-danger" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-warning" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-info" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-light" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-border text-dark" role="status"></div></li>
    </ul>
    <hr />

    <h4>自定义大小 Spinner-Grow</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-primary" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-secondary" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-success" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-danger" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-warning" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-info" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-light" role="status"></div></li>
        <li class="list-inline-item"><div style="width:6rem;height:6rem;" class="spinner-grow text-dark" role="status"></div></li>
    </ul>
    <hr />

    <h4>搭配按钮</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-primary" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-secondary" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-success" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-danger" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-warning" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-info" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-border spinner-border-sm text-light" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-border spinner-border-sm text-dark" role="status"></span> Loading...</button></li>
    </ul>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><button class="btn btn-outline-primary"><span class="spinner-grow spinner-grow-sm text-primary" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-secondary" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-success" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-danger" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-warning" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-info" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-light" role="status"></span> Loading...</button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><span class="spinner-grow spinner-grow-sm text-dark" role="status"></span> Loading...</button></li>
    </ul>
</div>