<div class="container">
    <p class="display-4">吐司</p>
    <h5 class="text-muted">多个吐司提示共存时，需要提供容器，默认将垂直排列</h5>
    <h5 class="text-muted">吐司提示需要使用方法配置之后次啊可以通过按钮关闭</h5>
    <hr />

    <h4>吐司提示</h4>
    <div class="toast show m-5" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
            <strong class="mr-auto">标题</strong>
            <small>11 分钟前</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="toast-body">
            Hi，这里是吐司提示的消息内容。
        </div>
    </div>
    <hr />

    <h4>在支持 background-filter CSS属性的浏览器中，吐司提示可以模糊背后的元素</h4>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="p-5" style="background-image:url('../../image/Mathilda.jpg');background-repeat:no-repeat; background-size:cover">
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
                        <strong class="mr-auto">标题</strong>
                        <small>11 分钟前</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="toast-body">
                        Hi，这里是吐司提示的消息内容。
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <p class="text-wrap">
                1111111111111111111111111111111111111111
                1111111111111111111111111111111111111111
                1111111111111111111111111111111111111111
                1111111111111111111111111111111111111111
                1111111111111111111111111111111111111111
                1111111111111111111111111111111111111111
                1111111111111111111111111111111111111111
            </p>
            <div class="card-img-overlay p-5">
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
                        <strong class="mr-auto">标题</strong>
                        <small>11 分钟前</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="toast-body">
                        Hi，这里是吐司提示的消息内容。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h4>多个吐司提示将自动垂直排列</h4>
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 250px;">
        <div style="position: absolute; top: 0; right: 0;">
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
                    <strong class="mr-auto">标题</strong>
                    <small>11 分钟前</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="toast-body">
                    Hi，这里是吐司提示的消息内容。Hi，这里是吐司提示的消息内容。Hi，这里是吐司提示的消息内容。
                </div>
            </div>
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
                    <strong class="mr-auto">标题</strong>
                    <small>11 分钟前</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="toast-body">
                    Hi，这里是吐司提示的消息内容。<br />
                    Hi，这里是吐司提示的消息内容。<br />
                    Hi，这里是吐司提示的消息内容。
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h4>设置位置</h4>
    <div aria-live="polite" aria-atomic="true" class="d-flex bg-light border justify-content-center align-items-center" style="height: 200px;">
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
                <strong class="mr-auto">标题</strong>
                <small>11 分钟前</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="toast-body">
                Hi，这里是吐司提示的消息内容。
            </div>
        </div>
    </div>
    <hr />

    <h4>触发显示吐司提示</h4>
    <ul class="list-inline">
        <li class="list-inline-item"><button class="btn btn-primary" id="toastButton">弹出吐司提示</button></li>
        <li class="list-inline-item"><button class="btn btn-primary" id="animationToastButton">带动画吐司提示</button></li>
        <li class="list-inline-item"><button class="btn btn-primary" id="autoHideToastButton">自动关闭吐司提示</button></li>
        <li class="list-inline-item"><button class="btn btn-primary" id="presetToastButton">提前配置吐司提示</button></li>
        <li class="list-inline-item"><button class="btn btn-danger" id="hideToastButton">关闭所有吐司提示</button></li>
    </ul>
    <div id="myToast-1" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
            <strong class="mr-auto">标题</strong>
            <small>11 分钟前</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="toast-body">
            Hi，这里是吐司提示的消息内容。
        </div>
    </div>
    <div id="myToast-2" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
            <strong class="mr-auto">标题</strong>
            <small>11 分钟前</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="toast-body">
            Hi，带有动画的吐司提示。
        </div>
    </div>
    <div id="myToast-3" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
            <strong class="mr-auto">标题</strong>
            <small>11 分钟前</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="toast-body">
            Hi，自动关闭的吐司提示。
        </div>
    </div>
    <div id="myToast-4" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
         data-animation="true" data-autohide="true" data-delay="3000">
        <div class="toast-header">
            <img src="/image/Dream.jpg" style="width:1.5rem" class="rounded-pill mr-2">
            <strong class="mr-auto">标题</strong>
            <small>11 分钟前</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="toast-body">
            Hi，提前配置的吐司提示。
        </div>
    </div>
    <hr />
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myToast-1').toast({
                animation: false,
                autohide: false,
            });
            $('#myToast-2').toast({
                animation: true,
                autohide: false,
            });
            $('#myToast-3').toast({
                animation: true,
                autohide: true,
                delay: 2000
            });

            $('#toastButton').on('click', (e) => {
                $('#myToast-1').toast('show');
            });
            $('#animationToastButton').on('click', (e) => {
                $('#myToast-2').toast('show');
            });
            $('#autoHideToastButton').on('click', (e) => {
                $('#myToast-3').toast('show');
            });
            $('#presetToastButton').on('click', (e) => {
                $('#myToast-4').toast('show');
            });
            $('#hideToastButton').on('click', (e) => {
                $('#myToast-1,#myToast-2,#myToast-3,#myToast-4').toast('hide');
            });
        })
    </script>
}