<div class="m-5 fixed-bottom" style="width:54px">
    <div class="btn-group-vertical shadow-lg btn-group-lg">
        <button class="btn btn-danger expandButton"><i class="fas fa-expand"></i></button>
        <button class="btn btn-success exchangeButton"><i class="fas fa-exchange-alt"></i></button>
        <button class="btn btn-primary compressButton"><i class="fas fa-compress"></i></button>
    </div>
</div>

<div class="container">
    <p class="display-4">工具提示</p>
    <h5 class="text-muted my-3">需要在执行 Bootstrap Javascript 之前引用 Popper.js，或直接引用 bootstrap.bundle.js </h5>
    <h5 class="text-muted my-3">不显示长度为0或源元素被隐藏的工具提示</h5>
    <h5 class="text-muted my-3">需要使用 $('[data-toggle="tooltip"]').tooltip() 初始化所有弹出框</h5>
    <h5 class="text-muted my-3">可以使用 data-container 定义弹出框的容器</h5>
    <h5 class="text-muted my-3">多行链接上的工具提示将会居中显示，使用 white-space: nowrap 来避免这种行为</h5>
    <h5 class="text-muted my-3">移除源元素时必须先隐藏其工具提示</h5>
    <hr />

    <h4>不同方向的工具提示</h4>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="tooltip" data-placement="left" title="工具提示的文本内容。">
                左方弹出框
            </button>
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="tooltip" data-placement="top" title="工具提示的文本内容。">
                上方弹出框
            </button>
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="tooltip" data-placement="bottom" title="工具提示的文本内容。">
                下方弹出框
            </button>
        </li>
        <li class="list-inline-item">
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="tooltip" data-placement="right" title="工具提示的文本内容。">
                右方弹出框
            </button>
        </li>
    </ul>
    <hr />

    <h4>需要使用容器弹出禁用元素的弹出框</h4>
    <div class="d-inline-block" data-toggle="tooltip" data-trigger="hover" title="工具提示内容文本">
        <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>禁用按钮</button>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('.expandButton').on('click', (e) => {
                $('[data-toggle="tooltip"]').tooltip('show')
            });
            $('.exchangeButton').on('click', (e) => {
                $('[data-toggle="tooltip"]').tooltip('toggle')
            });
            $('.compressButton').on('click', (e) => {
                $('[data-toggle="tooltip"]').tooltip('hide')
            });
        })
    </script>
}